{% extends "base.html" %}
{%block title %}about{% endblock %}
{% block contactactive %}active{% endblock %}
{%block css %}{% endblock %}

{% block body %}

<!-- 
<style>
body {
  background-image: url('static/v.jpg');
  
   background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
}
</style> -->
  <!--   <div class="container my-2 mx-1">
            
            <table style="width:140%">
   <tr bgcolor="pink">
            <th bgcolor="pink">Owner: Chahat Tandon</th>
            <th >Phone number: 8469026841</th>
            <th>Email : chahat.7874@gmail.com</th>
          
        </tr>
      </table>
    </div> -->
    <img src="static/v.jpg" width="1500" height="900">
    
 

  </body>
</html>

{% endblock %}