{% extends "base.html" %}
{%block title %}InventoryManagementSystem{% endblock %}
{% block active %}active{% endblock %}
{%block css %}{% endblock %}

{% block body %}

<!-- carousel -->

<br>
    
 <br> <br>
  <br>
 
 
        
        <br>
<!-- hero -->
<div class="px-4 py-5 my-5 text-center">

    <h1 class="display-5 fw-bold">Inventory Management System for Retailers</h1>
    <div class="col-lg-6 mx-auto" >
        <style>
body {
  background-image: url('static/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
    <br>
      <br>
       <br>
        <br>
         <br>
          
                        <br>
        <p class="lead mb-4" >Our main focus is on quality and hygiene. Our Parlor is well equipped with advanced technology equipment and provides best quality services. Our staff is well trained and experienced, offering advance .
        </p>
    </div>
</div>

<!-- card -->
<div class="container my-1" align="text-center">
    <div class="row">

        <div class="col-sm-6 my-1"> 
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title">BEST SELLERS</h5>
                    <img src="static/kk.jpg" width="450" height="300" >
                    <!-- <p class="card-text"> -->

                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 my-1"> 
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title" align="text-center">BEST SELLERS</h5>
                    <img src="static/ol.jpg" width="450" height="300">
                    <!-- <p class="card-text">                    </p> -->
                </div>
            </div>
        </div>

        <div class="col-sm-6 my-1"> 
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">TOP PICKS FOR YOU</h5>
                    <img src="static/pp.jpg" width="450" height="300">
                   <!--  <p class="card-text">Lorem 
                    </p> -->
                </div>
            </div>
        </div>

        <div class="col-sm-6 my-1"> 
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">HOTTEST IN THE NEWS</h5>
                    <img src="static/r.jpg" width="450" height="300">
                   <!--  <p class="card-text">Lorem 
                    </p> -->
                </div>
            </div>
        </div>
          
    </div>
</div>

{% endblock %}